body {
  background-color: lightgray;
  text-align: center;
}
h1 {
  color: orange;
  text-align: center;
  text-decoration: underline;
  margin: 50px;
}
h1 {
  text-trasform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 50px;
}
p {
  font-weight: bold;
  text-align: center;
}
li {
  list-style: none;
  border-style: dotted;
  border-color: orange;
  text-align: center;
  margin: 10px;
}

.mammal {
  color: red;
}

#bird {
  border: 4px solid pink;
}

ul {
  /*width: 200px;
  margin: 0 auto;
  font-family: serif;
  list-style: none;
  text-align: center;*/
}

li {
  display: inline-block;
}

.mammal:hover {
  font-weight: bold;
  color: green;
}

a:hover {
  color:yellow;
}
